.container{

    border: 2px blue dotted;
    height: 1000px;
    width: 1000px;
    display: flex;
   flex-direction: row-reverse;


    justify-content: center;
    align-items: center;
    flex-wrap:wrap-reverse;
    align-content: center;


}
.child{
    border:2px rgb(125, 28, 28) solid;
   height:100px;
    width: 100px;
}

.child img{
    height: 100px;
    width:100px;
    object-fit: cover;
}

