body{
      background-color: green;

}
.images{
    display: grid;
    gap: 20px;
grid-template-columns: repeat(3,1fr);
}
@media(min-width:1024px){
    body{
        background-color: red;
    }
    .images{
        display: grid;
        gap: 20px;
    grid-template-columns: repeat(2,1fr);
    }
}
h1{
    font-size: 18px;
}

@media(min-width:700px) and (max-width:979px){
    body{
        background-color: blue;
    }
    .images{
        display: grid;
        gap: 20px;
    grid-template-columns: repeat(2,1fr);
    }
}

