.main{
    border: 2px solid red;
    width: 450px;
    height:400px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap:nowrap;
    gap: 20px;

}   
.child{
    background-color: aqua;
    height: 90px;
    width: 100px;
    border: 1px dotted;
}