#sa{
    border: solid;
    border-color: rgb(255, 0, 0);
    color: blue;

    padding: 30px;
    margin: 5px;

    

}

#kr{
    border: solid;
    border-color: rgb(255, 0, 0);
    color: blue;

    padding: 30px;
    
    margin: 10px;

    

}
